<%= content_for :title do %>Listing: <%= @listing.title %><% end %>

<div class="row">
  <div class="col m12 l8">
    <h2 class="listing_headline">
      <span class="listing_title_show"><%= @listing.title  %></span>
      - <%= number_to_currency(@listing.rent) %>/mo.
    </h2>
    <% if session[:listing_id] == @listing.id %>
      <%= link_to edit_listing_path(@listing), class: "btn-floating btn-md waves-effect waves-light red btn-listing" do %>
        <i class="material-icons">edit</i>
      <% end %>
      <%= link_to @listing, :method => :delete, class: "btn-floating btn-md waves-effect waves-light red btn-listing", :data => {confirm: "Are you sure you want to delete your listing?",  turbolinks: "false" } do %>
        <i class="material-icons">delete</i>
      <% end %>
    <% end %>
    <br></br>
    <img style="border-radius: 25px"src="<%=@listing.image.url(:medium) %>"
    </div>
    <div class="listing-content">
      <p class="listing_show"><%= @listing.address%></p>
      <p class="listing_show"><span class="listing_bold">Available:</span> <%= @listing.available_date  %> </p>
      <p class="listing_desc_show"><%= @listing.description %></p>
      <p class="listing_contact_show">
        <span class="listing_bold">If interested contact:</span>
        <a href="mailto:<%= @listing.contact_email %>" class="listing_email"><%= @listing.contact_email %></a>,
        (<%= @listing.contact_phone %>)
      </p>
    </div>
  </div>
  <div class="col m12 l4">
    <button class="btn waves-effect waves-light" type="submit" name="action" onclick="window.location.href='mailto:<%=@listing.contact_email%>'">
      Inquire
      <i class="material-icons">mail</i>
    </button>
    <br></br>
    <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@listing.latitude},#{@listing.longitude}&markers=#{@listing.latitude},#{@listing.longitude}&zoom=15&size=250x250&key=AIzaSyA4BHW3txEdqfxzdTlPwaHsYRSZbfeIcd8",
            class: 'img-fluid img-rounded', alt: "#{@listing.title} on the map"%>
  </div>
  <!-- <p>Coordinates: <%= @listing.latitude %> <%= @listing.longitude %></p> -->

</div>
