<%= content_for :title do %>Listing: <%= @listing.title %> <% end %>

<div class="row">
  <div class="col s12">
    <div class="listing_right_column_show right center_align">
      <button class="btn waves-effect waves-light" type="submit" name="action"><a href="mailto:<%=@listing.contact_email%>">Inquire</a>
        <i class="material-icons right">mail</i>
      </button>
      <%= image_tag("google_map_mock.png", class: "listing_google_map_show", alt: @listing.address) %>
    </div>
    <div class="listing_left_column_show">
      <h2 class="listing_headline">
        <span class="listing_title_show"><%= @listing.title  %></span>
        - <%= number_to_currency(@listing.rent) %>/mo.
      </h2>
      <img src="<%=@listing.image.url(:medium) %>"
      </div>
      <p class="listing_show"><%= @listing.address%></p>
      <p class="listing_show"><span class="listing_bold">Available:</span> <%= @listing.available_date  %> </p>
      <p class="listing_desc_show"><%= @listing.description %></p>
      <p class="listing_contact_show">
        <span class="listing_bold">If interested contact:</span>
        <a href="mailto:<%= @listing.contact_email %>" class="listing_email"><%= @listing.contact_email %></a>,
        (<%= @listing.contact_phone %>)
      </p>
    </div>
    <%= button_to "Delete", @listing, method: :delete %>
  </div>
</div>
