Sign Up

<%= form_for @new_user do |f| %>
    <div>
        <%= f.text_field :name, placeholder: "Full Name" %>
    </div>
    <div>
      <%= f.text_field :phone, placeholder: "Phone Number" %>
    </div>
    <div>
      <%= f.text_field :email, placeholder: "Email Address" %>
    </div>
    <div>
      <%= f.password_field :password, placeholder: "Type Password" %>
    </div>

    <button class="btn waves-effect waves-light" type="submit" name="action"><%= f.submit "Sign Up" %>
      <i class="material-icons right">send</i>
    </button>

  <% end %>
