<li><a href="<%= listings_path %>">All Listings</a></li>
<% if current_user %>
  <% if session[:listing_id] %>
    <li><a href="/listings/<%= session[:listing_id] %>/show">View My Listing</a></li>
    <li><a href="/listings/<%= session[:listing_id] %>/edit">Update My Listing</a></li>
  <% else %>
    <li><a href="/listings/new">List My Property</a></li>
  <% end %>
  <li><a href="/users/<%= current_user.id %>">My Profile</a></li>
  <li><a href="/logout">Logout</a></li>
  <li class="chip">
    <a href="/user/edit/<%= current_user.id %>">
      <img src="https://en.gravatar.com/userimage/2721275/d570d6c3f6c984c00bd8fb44c98b30da.png?size=32" alt="gravatar of <%= current_user.name %>" />
      <%= current_user.name %>
    </a>
  </li>
<% else %>
  <li><a href="/users/new">Landlord Sign-up</a></li>
  <li><a href="/login">Landlord Login</a></li>
<% end %>
