<!DOCTYPE html>
<html>
  <head>
    <title>HYUP Housing for the Rest of Us - <%= yield :title %></title>
    <%= csrf_meta_tags %>

    <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Inconsolata|Oxygen|Spectral|Raleway|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="white">
    <div class="container">
      <header class="blue-grey lighten-0">

        <%= render('/helpers/navbar') %>

        <a href="/" class="brand-logo">
          <%= image_tag("logo_HYUP.jpg", class: "logo", alt: "HYUP logo") %>
        </a>
      </header>

      <main class="cf">
        <h1><%= yield :page_header %></h1>

        <div class="error_message">
          <%= render('helpers/error_messages') %>
        </div>

        <%= yield %>
      </main>

      <footer class="blue-grey lighten-0">
        &copy; copyright 2017 HYUP Partners LLC.
      </footer>
    </div>
  </body>
</html>
