<!DOCTYPE html>
<html>
  <head>
    <title>HYUP Housong for the Rest of Us - <%= yield :title %></title>
    <%= csrf_meta_tags %>

    <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="blue-grey lighten-0">
    <nav>
      <div class="nav-wrapper blue-grey lighten-1">
       <a href="#" class="brand-logo">Logo</a>

      <% render('/users/user_auth') %>

     </div>
    </nav>
    <div class="container">
      <%= render('/helpers/error_messages') :error_messages %>
    <%= yield %>
    </div>
  </body>
</html>
<%= console %>
